MONGODB_URI=mongodb://localhost:27017/war9atn
JWT_SECRET=change_this_to_a_very_long_random_secret_in_production
PORT=5000
# Development: http://localhost:3000
# Production: https://war9a.vercel.app
FRONTEND_URL=http://localhost:3000

# Brevo (Sendinblue) Email API
BREVO_API_KEY=your_brevo_api_key_here
FROM_EMAIL=noreply@war9a.tn
FROM_NAME=WAR9A.TN
ADMIN_EMAIL=admin@war9a.tn

# Cloudinary Image Storage
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
